In [1]:
import pandas as pd

In [21]:
terms0_3 = pd.read_csv("Full Dataset/Terms 0-3 Final LIWC WITH Tweet Text RANDOMIZED.csv")

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
terms0_3['term'].unique()

array(['left-wing ', 'Underprivileged ', 'non-believers ', 'black people ',
       'queer ', 'african american ', 'homosexuals  ', 'impoverished ',
       'progressives ', 'immigrants ', 'immigration ', 'drug addicts ',
       'undocumented ', 'radicals ', 'hippies ', 'refugees ',
       'transgender ', 'unions ', 'trade unions ', 'niggers ',
       'refugee crisis ', 'Godless ', 'HIV-positive ', 'LGBT LGBTQ ',
       'civil rights activists ', 'greens ', 'community organizers ',
       'student activists ', 'tree-huggers ', 'black history month ',
       'destitute ', '8920', '#SJW #AntiSJW ', nan, '2218', '7401', '2014',
       '8822', '406', '2217', '2012', '825', '36852', '2232', '20565',
       '2231', '7620', '383', '2257', '2227', '2219', '2345', '381',
       '20617'], dtype=object)

In [ ]:
#not sure why there are na's and numbers in "term" but it's usually just one row for each

In [37]:
terms0_3.loc[terms0_3['term'].isnull() == True, :]

,tweet_order,Random order,dataset,term,smapp_count,user_id,ideology,tweet_id,tweet,WC,...,anx,anger,sad,cogproc,insight,cause,discrep,tentat,certain,differ
47590,147866,47591,0,NaN,11585,3.139508e+08,-1.09632,711287567954611970,NaN,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78136,58390,78137,0,NaN,25012,2.924845e+09,NaN,710061830509448960,NaN,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
terms4 = pd.read_csv("Full Dataset/Terms 4 Final LIWC WITH Tweet Text RANDOMIZED.csv")

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
terms4['term'].unique()

array(['millennials ', 'teenagers ', 'latinas ', 'latinos ',
       'middle income ', 'middle class ', 'caucasian ', 'chicanas ',
       'crackers ', 'youth ', 'asians '], dtype=object)

In [16]:
terms5 = pd.read_csv("Full Dataset/Terms 5-7 Final LIWC WITH tweet text RANDOMIZED.csv")

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
terms5['term'].unique()

array(['executive  ', 'navy ', 'fascists ', 'christians ', 'veterans ',
       'coast guard ', 'marines ', 'anti-choice ', 'elderly ', 'spoiled ',
       'businessmen ', 'trust fund babies ', 'evangelicals ',
       'capitalist ', 'pentecostal ', 'fundamentalists ', 'presbyterian ',
       'army ', 'pro-life ', 'right-wing ', 'baptists ', 'lutherans ',
       'soldiers ', 'rich ', 'armed forces ', 'senior citizens ',
       'methodists ', 'rightists ', 'adventists ', 'the 1% '], dtype=object)

In [18]:
terms0_3.shape[0] + terms4.shape[0] + terms5.shape[0]

733906